<%= provide(:title, 'Sign up')%>
<h1>Sign up</h1>

<%= form_with(model: @user, local: true) do |f|%>
  <% if @user.errors.any? %>
    <div class = "alert alert-danger">
      <%= "Oops, there were errors on this page. #{pluralize(@user.errors.count, "error")} to be exact:" %>
    </div>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
    <hr>  
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :email %>
    <%= f.email_field :email %>
    
    <%= f.label :password %>
    <%= f.password_field :password %>
    
    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>
    
    <%= f.submit "Create my account", class: "btn btn-primary" %>
  </div>
<% end %>
